{% extends '_base.html' %}
{% load static %}

{% block content %}
    <div class="mb-2 text-white/[.60]">
        Cześć, {{ user.first_name }}!
    </div>
    <div class="space-y-3 py-5 bg-[#161618] rounded">
        <div id="timetables-href" class="px-4 text-center">
            <a href="{% url 'allocation_timetables' user.pk %}">
                <div class="py-2 border border-blue-400 text-blue-400 rounded">
                    Harmonogramy
                </div>
            </a>
        </div>
        <div id="prolongations-href" class="px-4 text-center">
            <a href="{% url 'ticket_prolongations' user.pk %}">
                <div class="py-2 border border-blue-400 text-blue-400 rounded">
                    Prolongaty
                </div>
            </a>
        </div>
    </div>
{% endblock %}