{% extends '_base.html' %}

{% block extra_title %}Wyloguj | {% endblock %}

{% block logout %}{% endblock %}

{% block content %}
    <div class="p-4 mt-10 mx-2 bg-[#161618] rounded-xl md:px-52">
        <div class="text-center">
            Na pewno chcesz się wylogować?
        </div>
        <form class="w-full" method="POST" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="mt-4 py-2 px-4 w-full md:mx-auto bg-red-700 text-center font-medium rounded">
                Wyloguj
            </button>
        </form>
    </div>
{% endblock %}