*.py[oc]
__pycache__/

.idea/
*.sublime-*

conductors/settings/production.py

*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
__pypackages__/
celerybeat-schedule
celerybeat.pid
*.sage.py
config/.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
.coverage
/production.yml
.git-secrets/
coverage/
.staticfiles/
.static/admin/
*.pyc
*.pyo
.setup.cfg
conductors/.env
.locale/
.tmp/
*/git-secrets/
/git-secrets/
/staticfiles/
/conductors/setup.cfg
*/static/media/tmp/*
/static/media/tmp/
/conductors/tmp/
/conductors/config/settings/production.py
/conductors/config/production.py
/setup.cfg
/conductors/staticfiles/
