{% extends '_base.html' %}

{% load date_reprs %}

{% block extra_title %}Pociąg {{ train.number }} | {% endblock %}

{% block content %}
    <div class="flex flex-col items-center mb-3">
        <div class="text-3xl font-medium tracking-wider">{{ train.number }}</div>
        {% if train.carrier %}
            <div class="flex items-center justify-between px-2">
                <div class="italic">{{ train.carrier }}</div>
            </div>
        {% endif %}
    </div>

    <div class="w-full p-3 space-y-2">
        <div class="p-2 rounded">
            <div class="text-center italic text-2xl tracking-tight mb-2">Odjazd</div>
            <div class="flex items-center justify-between">
                <div class="italic tracking-tight">Data odjazdu</div>
                <div>{{ train.departure_date|full_date }}</div>
            </div>
            <div class="flex items-center justify-between">
                <div class="italic tracking-tight">Stacja</div>
                <div>{{ train.departure_station }}</div>
            </div>
            <div class="flex items-center justify-between">
                <div class="italic tracking-tight">Peron</div>
                <div>{{ train.departure_platform }}</div>
            </div>
        </div>
        <div class="bg-white bg-opacity-5 p-2 rounded">
            <div class="text-center italic text-2xl tracking-tight mb-2">
                Przyjazd
            </div>
            <div class="flex items-center justify-between">
                <div class="italic tracking-tight">Data przyjazdu</div>
                <div>{{ train.arrival_date|full_date }}</div>
            </div>
            <div class="flex items-center justify-between">
                <div class="italic tracking-tight">Stacja</div>
                <div>{{ train.arrival_station }}</div>
            </div>
            <div class="flex items-center justify-between">
                <div class="italic tracking-tight">Peron</div>
                <div>{{ train.arrival_platform }}</div>
            </div>
        </div>
    </div>
{% endblock %}