{% extends '_base.html' %}

{% load date_representations %}

{% block extra_title %}Pociąg {{ train.number }} | {% endblock %}

{% block content %}
<h1>{{ train.number }}</h1>
{% if train.carrier %}
    <p>Przewoźnik: {{ train.carrier }}</p>
{% endif %}
<h2>Odjazd</h2>
<p>Data: {{ train.departure_date|represent_date }}</p>
<p>Stacja: {{ train.departure_station }}</p>
<p>Peron: {{ train.departure_platform }}</p>
<h2>Przyjazd</h2>
<p>Data: {{ train.arrival_date|represent_date }}</p>
<p>Stacja: {{ train.arrival_station }}</p>
<p>Peron: {{ train.arrival_platform }}</p>
{% endblock %}