{% extends '_base.html' %}

{% load static %}
{% load date_strings %}

{% block extra_title %}{{ allocation.title }} | {% endblock %}

{% block header_items %}
    <div class="flex items-center text-center text-sm space-x-3">
        <form method="POST" action='{% url 'update_allocation' allocation.pk %}'>
            {% csrf_token %}
            <button class="text-white/[.60]" type="submit">Aktualizuj służbę</button>
        </form>
        <a href={{ user.railroad_account_url }}>
            <div class="font-light text-white/[.60]">Konto kolejowe</div>
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="text-center text-sm italic text-white/[.60] mb-2">
        Ostatnia aktualizacja: {{ allocation.last_updated|full_date }}
    </div>

    <div class="bg-[#181818] w-full flex-col p-1 px-2.5 pb-4 rounded">
        <div class="w-full text-center text-4xl font-medium my-2 mb-4">
            {{ allocation.title }}
        </div>
        <div class="flex justify-between space-x-1 px-1 mt-2 border border-blue-500/25 bg-[#212121] rounded">
            <div class="w-full mb-2 p-1 py-2 space-y-0.5">
                <div class="mb-3 text-center">
                    <div class="text-white/[.60] text-center text-sm italic">Początek</div>
                    <div>{{ allocation.start_date }}</div>
                </div>
                {% if user.railroad_account %}
                <div class="mb-2 space-y-1 text-center">
                    <div class="text-center text-white/[.60] text-sm italic mb-1">Pociąg przed służbą</div>
                    {% if allocation.train.before %}
                    <a href="{% url 'train_detail' allocation.train.before.pk %}">
                        <div class="rounded border border-blue-400 text-blue-400 flex items-center justify-between rounded p-1 px-2">
                            <div>{{ allocation.train.before.departure_date|time_only }}</div>
                            <div>{{ allocation.train.before.carrier_initials }}</div>
                            <div>{{ allocation.train.before.arrival_date|time_only }}</div>
                        </div>
                    </a>
                    {% else %}
                        {% if not allocation.is_month_old %}
                            <div class="flex items-center rounded">
                                <form class="text-center w-full" method='POST' action="{% url 'search_train_before_allocation' allocation.pk %}">
                                {% csrf_token %}
                                    <button class="rounded border border-blue-400 text-blue-400 w-full p-1">
                                        Załaduj pociąg
                                    </button>
                                </form>
                            </div>
                        {% else %}
                            <div class="flex items-center rounded">
                                <div class="border border-red-500 text-red-500 rounded text-center text-sm w-full p-1">
                                    Czas na szukanie pociągu minął
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% else %}
                    <a href={{ user.railroad_account_url }}>
                        <div class="mb-2 py-1 w-full text-center rounded tracking-tighter">
                            Najpierw utwórz konto kolejowe!
                        </div>
                    </a>
                {% endif %}
            </div>
            <div class="w-full mb-2 p-1 py-2 space-y-0.5">
                <div class="mb-3 text-center">
                    <div class="text-white/[.60] text-center text-sm italic">Koniec</div>
                    <div>{{ allocation.end_date }}</div>
                </div>
                {% if user.railroad_account %}
                <div class="mb-2 space-y-1 text-center">
                    <div class="text-white/[.60] text-center text-sm italic mb-1">Pociąg po służbie</div>
                    {% if allocation.train.after %}
                        <a href="{% url 'train_detail' allocation.train.after.pk %}">
                            <div class="rounded border border-blue-400 text-blue-400 flex items-center justify-between rounded p-1 px-2">
                                <div>{{ allocation.train.after.departure_date|time_only }}</div>
                                <div>{{ allocation.train.after.carrier_initials }}</div>
                                <div>{{ allocation.train.after.arrival_date|time_only }}</div>
                            </div>
                        </a>
                    {% else %}
                        {% if not allocation.is_month_old %}
                        <div class="flex items-center rounded">
                            <form class="text-center w-full" method='POST' action="{% url 'search_train_after_allocation' allocation.pk %}">
                            {% csrf_token %}
                                <button class="rounded border border-blue-400 text-blue-400 w-full p-1">
                                    Załaduj pociąg
                                </button>
                            </form>
                        </div>
                        {% else %}
                            <div class="flex items-center rounded">
                                <div class="border border-red-500 text-red-500 rounded text-center text-sm w-full p-1">
                                    Czas na szukanie pociągu minął
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% else %}
                    <a href={{ user.railroad_account_url }}>
                        <div class="mb-2 py-1 w-full text-center rounded tracking-tighter">
                            Najpierw utwórz konto kolejowe!
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="mt-4 mb-1 text-sm text-center italic">
            Aby zobaczyć załogę, kliknij w numer pociągu.
        </div>
        <div class="space-y-3">
        {% for action in allocation.actions.all %}
            <div class="bg-[#212121] border border-blue-500/25 py-1 rounded text-center w-full">
                <div class="text-center text-xl m-1">
                    <div>{{ action.name }}</div>
                </div>
                {% if action.train_number %}
                <a href="{% url 'train_crew_detail' action.train_number action.date_string %}">
                    <div class="text-blue-400 text-xl">
                        {{ action.train_number }}
                    </div>
                </a>
            {% endif %}
                <div class="py-1 px-2">
                    <div class="flex items-center justify-between">
                        <div class="text-white/[.60] text-xs italic">Rozpoczęcie</div>
                        <div class="text-sm tracking-tight">{{ action.start_location }} {{ action.start_hour }}</div>
                    </div>
                    <div class="flex items-center justify-between">
                        <div class="text-white/[.60] text-xs italic">Koniec</div>
                        <div class="text-sm tracking-tight">{{ action.end_location }} {{ action.end_hour }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}