{% extends '_base.html' %}

{% load alina_dates %}
{% load date_representations %}

{% block extra_title %}{{ allocation.title }} | {% endblock %}

{% block content %}
    {% if allocation.allocationdetail_set.exists %}
        <div>
            <span>Ostatnia aktualizacja: {{ allocation.last_updated|represent_date }}</span>
        </div>
        <form method='POST' action='{% url 'update_allocation' allocation.pk %}'>
            {% csrf_token %}
            <button>Zaktualizuj</button>
        </form>
        {% for detail in allocation.allocationdetail_set.all %}
            <span>----------------------------------------------------</span>
            {% if detail.train_number %}
                <div>{{ detail }}</div>
                <div>
                    <a href="{% url 'train_crew' detail.train_number detail.action_date|date_for_alina %}">
                        <button>Zobacz załogę</button>
                    </a>
                </div>
            {% else %}
                <div>{{ detail }}</div>
            {% endif %}
        {% endfor %}
        <span>----------------------------------------------------</span>
    {% else %}
        <span>Brak danych</span>
    {% endif %}
    <div>
        <a href="{% url 'allocation_timetable_allocations' user.pk %}">
            <span>Wróć</span>
        </a>
    </div>
{% endblock %}