{% extends '_base.html' %}

{% load static %}
{% load date_strings %}

{% block extra_title %}Plany | {% endblock %}

{% block scripts %}
<script type="module" src="{% static 'timetables.js' %}"></script>
{% endblock %}

{% block header_items %}
    <a href="{% url 'import_timetable' %}">
        <div class="text-sm text-white/[.60]">Importuj plan</div>
    </a>
    <a href={{ user.caldav_account_url }}>
        <div class="text-sm text-white/[.60]">Konto CalDAV</div>
    </a>
{% endblock %}

{% block content %}
    <div class="flex flex-col items-center rounded text-center space-y-3">
    {% for timetable in timetables %}
        <div id="{{ timetable.month }}-{{ timetable.year }}-not-empty-{{ timetable.allocation_set.exists }}"
             class="p-3 w-screen bg-[#181818]">
            <div class="font-medium text-center text-2xl">
                {{ timetable.get_month_display }} {{ timetable.year }}
            </div>
            <div class="space-y-3">
                {% if timetable.allocation_set.exists %}
                <a href="{% url 'timetable_detail' timetable.pk %}">
                    <div class="rounded border border-blue-400 text-blue-400 w-full py-1.5 mt-4">
                        Zobacz służby
                    </div>
                </a>
                <div class="w-full text-center">
                    <form method='POST' action='{% url 'caldav_send_timetable' timetable.pk %}'>
                        {% csrf_token %}
                        <button class="rounded border border-blue-400 text-blue-400 w-full py-1.5 mb-2" type="submit">
                            Wyślij do kalendarza DAV
                        </button>
                    </form>
                </div>
                {% else %}
                    <div class="text-red-500 italic">
                        Brak służb
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}