{% extends '_base.html' %}

{% load strdates %}

{% block content %}
    <div class="bg-[#181818] rounded p-3 px-4 mt-10">
        <div class="text-center mb-2">
            <div class="italic">
                {{ message }}
            </div>
            <div class="italic">Wygasa {{ trail.expiration_date }}</div>
        </div>
        <form class="w-full" method="POST">{% csrf_token %}
            {{ form }}
            <button type="submit" class="my-3 p-2 w-full bg-red-800 text-center text-white font-medium text-lg rounded">
                Usuń
            </button>
        </form>
    </div>
{% endblock %}