{% extends '_base.html' %}

{% load static %}
{% load date_reprs %}

{% block extra_title %}{{ timetable.month }}.{{ timetable.year }} | {% endblock %}

{% block scripts %}
<script type="module" src="{% static 'allocations.js' %}"></script>
{% endblock %}

{% block header_nav %}
    <span>{{ timetable.get_month_display }} {{ timetable.year }}</span>
    <form class="text-center rounded" method='POST'
          action='{% url 'update_allocations' timetable.pk %}'>
        {% csrf_token %}
        <button class="px-2 py-1 font-semibold" type="submit">
            Aktualizuj
        </button>
    </form>
{% endblock %}

{% block content %}
<div class="flex flex-col items-center text-center px-2.5">
    <div class="mb-2 text-sm italic tracking-tight">
        Ostatnia aktualizacja: {{ timetable.last_updated|full_date }}
    </div>
    <div class="w-full border border-opacity-50 rounded mb-4 ">
        <div class="table table-auto border-collapse w-full">
            <div class="table-header-group bg-white bg-opacity-5">
                <div class="table-row font-medium">
                    <div class="table-cell text-center px-1 py-2 w-8 tracking-tighter">Dzień</div>
                    <div class="table-cell text-center w-full">Służba</div>
                </div>
            </div>
            <div class="table-row-group">
            {% for day in timetable.days_in_month %}
                <div id="day{{ day }}-month{{ timetable.month }}" class="table-row border border-white border-opacity-25">
                    <div class="table-cell text-center py-2 border border-white text-2xl border-opacity-25 font-semibold tracking-wider">
                        {{ day }}
                    </div>
                    {% for allocation in allocations %}
                        {% if allocation.start_day == day %}
                        <a class="table-cell text-center px-2 text-2xl" href="{% url 'allocation_detail' allocation.pk %}">
                            <div class="py-0.5 rounded-xl italic">{{ allocation }}</div>
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}