{% extends '_page.html' %}

{% load static %}
{% load date_representations %}

{% block extra_title %}Plany | {% endblock %}

{% block navbar_buttons %}
    <a class="text-xs" href={{ caldav_account_href }}>
        CalDAV
    </a>
    <a class="text-xs" href={{ railroad_account_href }}>
        Ustal stacje
    </a>
{% endblock %}

{% block content %}
    <div class="flex flex-wrap items-center">
    {% if messages %}
         {% for message in messages %}
             <div>
                 {{ message|safe }}
             </div>
         {% endfor %}
    {% endif %}
        <a href="{% url 'import_allocation_timetable' %}">Importuj plan</a>
            <ul>
                {% for timetable in timetables %}
                    <div>
                    Miesiąc: {{ timetable.month }} Rok: {{ timetable.year }}
                    <span>
                        Ostatnia aktualizacja: {{ timetable.last_updated|represent_date }}
                    </span>
                        <form method='POST' action='{% url 'update_allocations' timetable.pk %}'>
                            {% csrf_token %}
                            <button>Zaktualizuj służby</button>
                        </form>
                        {% if timetable.allocation_set.exists %}
                            <form method='POST' action='{% url 'send_allocation_timetable_to_dav_client' timetable.pk %}'>
                                {% csrf_token %}
                                <button>Wyślij kalendarz</button>
                            </form>
                            {% for allocation in timetable.allocation_set.all %}
                                <div>
                                    {% if not allocation.train.before %}
                                    <form method='POST' action="{% url 'search_train_before_allocation' allocation.pk %}">
                                        {% csrf_token %}
                                    <button>Wyszukaj pociąg przed</button>
                                    </form>
                                    {% else %}
                                        <a href="{% url 'train_detail' allocation.train.before.pk %}">
                                        {{ allocation.train.before }}
                                        </a>
                                    {% endif %}

                                    <div>
                                        <a href="{% url 'allocation_details' allocation.pk %}">
                                        {{ allocation }}
                                        </a>
                                    </div>

                                    {% if not allocation.train.after %}
                                    <form method='POST' action="{% url 'search_train_after_allocation' allocation.pk %}">
                                        {% csrf_token %}
                                        <button>Wyszukaj pociąg po</button>
                                    </form>
                                    {% else %}
                                        <a href="{% url 'train_detail' allocation.train.after.pk %}">
                                        {{ allocation.train.after }}
                                        </a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div>
                                <span>Brak służb</span>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </ul>
        </div>
{% endblock content %}
