{% extends '_base.html' %}

{% load static %}
{% load date_representations %}

{% block extra_title %}Plany | {% endblock %}

{% block scripts %}
<script src="{% static 'js/timetables.js' %}"></script>
{% endblock %}

{% block navbar_buttons %}
    <a class="py-1 px-2 rounded bg-blue-600"
       href="{% url 'import_allocation_timetable' %}">
        Importuj
    </a>
    <a href={{ caldav_account_href }}>
        CalDAV
    </a>
    <a href={{ railroad_account_href }}>
        Stacje
    </a>
{% endblock %}

{% block content %}
    <div class="flex flex-col items-center text-white text-center px-2.5">
    {% if messages %}
         {% for message in messages %}
             <div>
                 {{ message|safe }}
             </div>
         {% endfor %}
    {% endif %}

    <ul>
    {% for timetable in timetables %}
        <div id="timetable-{{ timetable.month }}-{{ timetable.year }}"
             class="w-screen mb-3 p-2 bg-white bg-opacity-5">
            <div class="py-1 px-2 text-xl">
                <span>{{ timetable.get_month_display }} {{ timetable.year }}</span>
            </div>
            <div class="mb-2 text-sm">
                <span>
                Ostatnia aktualizacja: {{ timetable.last_updated|represent_date }}
                </span>
            </div>
            <form class="w-full text-center bg-green-600 mb-2 rounded" method='POST'
                  action='{% url 'update_allocations' timetable.pk %}'>
                {% csrf_token %}
                <button class="w-full text-sm py-1 font-semibold"
                        type="submit">
                    Aktualizuj
                </button>
            </form>
            {% if timetable.allocation_set.exists %}
                <form class="w-full text-center bg-blue-800 mb-3 rounded" method='POST'
                      action='{% url 'send_allocation_timetable_to_dav_client' timetable.pk %}'>
                    {% csrf_token %}
                    <button class="w-full text-sm py-1 font-semibold"
                            type="submit">
                        Wyślij kalendarz
                    </button>
                </form>

                <div class="border rounded">
                <table class="table-auto border-collapse w-full">
                    <thead class="bg-white bg-opacity-5">
                        <tr>
                            <th class="text-sm">Dzień</th>
                            <th class="text-sm">Służba</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for day in timetable.get_month_days %}
                        <tr>
                            <td class="border border-white border-opacity-25 text-sm">
                                {{ day }}
                            </td>

                            {% for allocation in timetable.allocation_set.all %}
                                {% if allocation.start_day == day %}
                                    <td class="border border-white border-opacity-25 text-sm">
                                        {{ allocation.title }}
                                    </td>
                                {% endif %}
                            {% endfor %}

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            {% else %}
                <span class="text-red-500">Brak służb</span>
            {% endif %}
        </div>
    {% endfor %}
    </ul>
</div>
{% endblock %}