{% extends '_base.html' %}

{% load static %}
{% load date_representations %}

{% block extra_title %}Plany | {% endblock %}

{% block main %}

{% block navbar %}
    <nav class="flex container text-white bg-blue-600 p-4">
        <div class="w-4/6 my-auto">
            <a href="{% url 'home' %}">
                <img alt="Strona Główna"
                     src="{% static 'img/logo_text.png' %}"/>
            </a>
        </div>
        <div class="justify-end text-sm my-auto">
            <a href={{ caldav_account_href }}>
                Konto CalDAV
            </a>
            <a href={{ railroad_account_href }}>
                Konto kolejowe
            </a>
        </div>
    </nav>
{% endblock navbar %}

{% block content %}
    <div class="text-white">
        {% if messages %}
             {% for message in messages %}
                 <div>
                     {{ message|safe }}
                 </div>
             {% endfor %}
        </div>
        <a href="{% url 'import_allocation_timetable' %}">Importuj plan</a>
        {% endif %}
        <a href="{% url 'import_allocation_timetable' %}">Importuj plan</a>
        <div>
            <ul>
                {% for timetable in timetables %}
                    <div>
                    Miesiąc: {{ timetable.month }} Rok: {{ timetable.year }}
                    <span>
                        Ostatnia aktualizacja: {{ timetable.last_updated|represent_date }}
                    </span>
                        <form method='POST' action='{% url 'update_allocations' timetable.pk %}'>
                            {% csrf_token %}
                            <button>Zaktualizuj służby</button>
                        </form>
                        {% if timetable.allocation_set.exists %}
                            <form method='POST' action='{% url 'send_allocation_timetable_to_dav_client' timetable.pk %}'>
                                {% csrf_token %}
                                <button>Wyślij kalendarz</button>
                            </form>
                            {% for allocation in timetable.allocation_set.all %}
                                <span>----------------------------------------------------------</span>
                                <div>
                                    {% if not allocation.train.before %}
                                    <form method='POST' action="{% url 'search_train_before_allocation' allocation.pk %}">
                                        {% csrf_token %}
                                        <button>Wyszukaj pociąg przed</button>
                                    </form>
                                    {% else %}
                                        <a href="{% url 'train_detail' allocation.train.before.pk %}">
                                        {{ allocation.train.before }}
                                        </a>
                                    {% endif %}

                                    <div>
                                        <a href="{% url 'allocation_details' allocation.pk %}">
                                        {{ allocation }}
                                        </a>
                                    </div>

                                    {% if not allocation.train.after %}
                                    <form method='POST' action="{% url 'search_train_after_allocation' allocation.pk %}">
                                        {% csrf_token %}
                                        <button>Wyszukaj pociąg po</button>
                                    </form>
                                    {% else %}
                                        <a href="{% url 'train_detail' allocation.train.after.pk %}">
                                        {{ allocation.train.after }}
                                        </a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div>
                                <span>Brak służb</span>
                            </div>
                        {% endif %}
                        <span>****************************************************************************</span>
                    </div>
                {% endfor %}
            </ul>
        </div>
{% endblock content %}

{% endblock main %}