{% extends '_base.html' %}
{% load static %}

{% block main %}
    <div class="m-8 flex flex-col items-center bg-white bg-opacity-10 rounded-xl">
        <div class="object-top object-contain">
            {% block navbar %}
                <a href="{% url 'home' %}">
                    <img alt="Strona Główna" src="{% static 'img/logo_panel.png' %}">
                </a>
            {% endblock %}
        </div>
        <div class="m-4 mb-5 object-bottom flex flex-col items-center text-white">
            {% block content %} <!--- OVERRIDE THIS IN OTHER TEMPLATES! --->
                (no content)
            {% endblock%}
        </div>
    </div>
{% endblock %}