{% extends '_base.html' %}
{% load static %}

{% block main %}
    <div class="flex flex-col items-center m-5 bg-white bg-opacity-10 rounded-xl">
        <div class="object-contain object-top p-1 my-6">
            {% block navbar %}
                <a href="{% url 'home' %}">
                    <img alt="Strona Główna" src="{% static 'img/logo.png' %}">
                </a>
            {% endblock navbar %}
        </div>
        <div class="flex flex-col items-center w-10/12 p-4 mx-2 mb-10 space-y-3 bg-white bg-opacity-20 rounded-lg">
            {% block content %}
                (no content)
            {% endblock content %}
        </div>
    </div>
{% endblock %}