{% load tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <title>
            {% block extra_title %}{% endblock %}Conductors
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_preload_css %}
        {% tailwind_css v='3' %}
        {% block extra_head %}{% endblock %}
    </head>

    <body class="bg-black text-white/[.87]">
        <div id="main-header" class="sticky top-0 bg-[#121212]">
            <div class="p-2 flex items-center justify-between">
                <div class="flex items-center space-x-3">
                    <a class="h-9 w-9 mr-1 fill-blue-500" href="{% url 'home' %}" title="Strona Główna">
                        {% include 'train-svgrepo-com.svg' %}
                    </a>
                    {% block header_nav %}{% endblock %}
                </div>
                {% if user.is_authenticated %}
                    <a class="px-3.5 py-1.5 bg-white/[.05] rounded" href="{% url 'account_logout' %}">
                        <div class="text-sm">Wyloguj</div>
                    </a>
                {% endif %}
            </div>
        </div>
        <div id="page-content">
            {% block content %}(no content){% endblock %}
        </div>
    </body>
    <script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
    {% block scripts %}{% endblock %}
</html>