{% extends '_base.html' %}
{% load static %}

{% block content %}
    <div class="p-4 flex flex-col justify-center items-center">
        <a class="m-2" href="{% url 'home' %}">
            <img alt="Strona Główna"
                 src="{% static 'logo.png' %}"
                 class="flex-none object-scale-down">
        </a>
        <div class="w-full m-2 p-5 flex flex-col items-center text-white bg-white bg-opacity-5 shadow-lg rounded">
        {% block inner_content %} <!--- OVERRIDE THIS IN OTHER TEMPLATES! --->
            (no content)
        {% endblock%}
        </div>
    </div>
{% endblock %}