{% extends '_base.html' %}

{% block extra_title %}CalDAV | {% endblock %}

{% block content %}
    <div class="mt-10 mx-2 p-4 bg-[#181818] rounded">
        <div class="text-white/[.38] text-center mb-1">
            Proszę podać dane logowania do serwera kalendarzowego DAV.
        </div>
        <form method="POST" class="w-full flex items-center flex-wrap mt-2 italic text-white/[.60]">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="my-3 p-2 w-full bg-blue-800 text-center text-white font-medium text-lg rounded">
                Zapisz
            </button>
        </form>
    </div>
{% endblock %}