{% extends '_base.html' %}

{% block content %}
    <div class="bg-[#181818] rounded p-3 px-4 md:px-52 mt-10">
        <div class="text-center mb-2">
            <div class="italic">
                Na pewno chcesz usunąć prolongatę biletu "{{ prolongation.get_ticket_display }}",
            </div>
            <div class="italic">która wygasa {{ prolongation.expiration_date }}?</div>
        </div>
        <form class="w-full" method="POST">{% csrf_token %}
            {{ form }}
            <button type="submit" class="my-3 p-2 w-full bg-red-800 text-center text-white font-medium text-lg rounded">
                Usuń
            </button>
        </form>
    </div>
{% endblock %}