{% extends '_base.html' %}

{% block extra_title %}Prolongaty | {% endblock %}

{% block header_items %}
    <div class="flex items-center justify-between text-sm md:text-base space-x-2 md:space-x-4">
        {% include 'date_now.html' %}
        <a class="text-white/[.60]" href={{ user.caldav_account_url }}>
            Konto CalDAV
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="flex items-center flex-col w-full space-y-1.5 mt-4">

    {% if prolongations %}
    <div class="flex items-center justify-between">
        <form method="post" class="px-1 mb-1 text-center" action="{% url 'update_prolongations_today' %}">
            {% csrf_token %}
            <button class="rounded-xl border border-blue-400 text-blue-400 w-full p-1.5 md:px-4" type="submit">
                Aktualizuj od dzisiaj
            </button>
        </form>
        <form method="post" class="px-1 mb-1 text-center" action="{% url 'caldav_send_prolongations' %}">
            {% csrf_token %}
            <button class="rounded-xl border border-blue-400 text-blue-400 w-full p-1.5 md:px-4" type="submit">
                    Wyślij do kalendarza
            </button>
        </form>
    </div>
    {% endif %}

        <div class="p-2 w-full space-y-4">
            {% for prolongation in prolongations %}
                <div class="bg-[#181818] text-center w-full rounded md:rounded-xl px-2 md:px-20 py-4">
                    <div class="py-1.5 mb-2">
                        <div class="text-2xl font-medium">
                            {{ prolongation.get_ticket_display }}
                        </div>
                        {% if prolongation.days_until_expiration <= 7 %}
                            <div class="italic tracking-tighter font-medium text-red-500">
                                {{ prolongation.get_expiration_message }}
                            </div>
                        {% else %}
                            <div class="text-white/[.70] italic tracking-tighter">
                                {{ prolongation.get_expiration_message }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="flex items-center justify-between px-2">
                        <div class="text-white/[.50] italic tracking-tighter text-sm md:text-base">Data ostatniego przedłużenia</div>
                        <div class="tracking-tighter">{{ prolongation.last_renewal_date }}</div>
                    </div>
                    <div class="flex items-center justify-between px-2">
                        <div class="text-white/[.50] italic tracking-tighter text-sm md:text-base">Data wygaśnięcia</div>
                        <div class="tracking-tighter">{{ prolongation.expiration_date }}</div>
                    </div>
                    <div class="flex items-center text-center justify-between mt-3 mb-1 space-x-3 px-2">
                        <a class="w-full" href="{% url 'prolongation_update' prolongation.pk %}">
                            <div class="border border-blue-500 text-blue-500 w-full rounded py-1">
                                Edytuj
                            </div>
                        </a>
                        <form class="w-full" action="{% url 'prolongation_delete' prolongation.pk %}">
                            <button class="border border-red-500 text-red-500 w-full rounded py-1">
                                Usuń
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if ticket_prolongations|length < 3 %}
        <a class="w-full px-3" href="{% url 'prolongation_create' %}">
            <div class="border border-green-500 text-green-500 text-center rounded py-1.5">
                Dodaj prolongatę
            </div>
        </a>
        {% endif %}
    </div>
{% endblock %}