{% extends '_ticket_prolongation_base.html' %}

{% block content %}
    <div class="flex items-center flex-col w-full space-y-3 pt-2">
    {% for ticket_prolongation in ticket_prolongations %}
        <div class="text-center text-white w-full bg-white bg-opacity-5 py-2">
            <div class="bg-white bg-opacity-5 py-1.5 mb-2">
                <div class="text-2xl font-medium">{{ ticket_prolongation.get_ticket_display }}</div>
                <div class="text-sm italic tracking-tighter">
                    {{ ticket_prolongation.get_expiration_message }}
                </div>
            </div>
            <div class="flex items-center justify-between px-2">
                <div class="italic tracking-tighter text-sm">Data ostatniego przedłużenia</div>
                <div class="tracking-tighter">{{ ticket_prolongation.last_renewal_date }}</div>
            </div>
            <div class="flex items-center justify-between px-2">
                <div class="italic tracking-tighter text-sm">Data wygaśnięcia</div>
                <div class="tracking-tighter">{{ ticket_prolongation.expiration_date }}</div>
            </div>
            <div class="flex items-center justify-between mt-3 mb-1 space-x-3 px-2">
                <a class="w-full" href="{% url 'ticket_prolongation_update' ticket_prolongation.pk %}">
                    <div class="text-center bg-sky-600 block rounded py-1 px-2 font-semibold tracking-tight">
                        Edytuj
                    </div>
                </a>
                <form class="w-full" action="{% url 'ticket_prolongation_delete' ticket_prolongation.pk %}">
                    <button class="w-full text-center bg-red-600 block rounded py-1 px-2 font-semibold tracking-tight">
                        Usuń
                    </button>
                </form>
            </div>
        </div>
    {% endfor %}
        {% if ticket_prolongations|length < 3 %}
            <a class="w-full px-3" href="{% url 'ticket_prolongation_create' %}">
                <div class="text-white text-center text-lg tracking-tight font-medium bg-green-600/90 rounded py-1 m-1">
                    Dodaj prolongatę
                </div>
            </a>
        {% endif %}
    </div>
{% endblock %}